html
  head
    script(src="bower_components/requirejs/require.js", type="text/javascript", data-main="app.js")
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
  body
    .container
      .row
        .col-md-6
          textarea#rawInput.form-control(rows=40).
            @people luca gabriele daniele

            2014-04-12 plane ticket: luca 450 -> luca 10 gabriele +1 daniele +7 marco -3
            2014-04-12 plane ticket: luca 450 -> luca 10 gabriele +1 daniele 7 marco -3 giovanni
            hotel: luca 200
            dinner: gabriele 65 -> gabriele +5 daniele luca
            dinner: gabriele 65 -> gabriele +5 ...
            ice cream: daniele 11 -> luca 5 ...
            bar: daniele 42 -> luca 14 daniele 13 gabriele 9
            bar: daniele 42 -> luca 14 daniele 13 gabriele 9 $
            having fun without luca: gabriele 15 -> daniele +4 ...
            moar fun: daniele 13 -> daniele

            gabriele 150 -> luca
            daniele 100 -> luca

            bar #drinks: luca 20 -> luca
          button#run.btn.btn-primary.btn-lg.btn-block compute!

        .col-md-6
          h3 Totals
          table#totals.table.table-striped.table-hover

          hr

          h3 Partials
          #partials
