html
  head
    script(src="bower_components/requirejs/require.js", type="text/javascript", data-main="app.js")
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
  body
    .container
      .row.text-center
        h1 geeky wallet
        h3 personal and group expenses, geeky style
      hr
      .row
        .col-md-6
          textarea#rawInput.form-control(rows=20, style='resize:none')
          button#run.btn.btn-primary.btn-lg.btn-block compute!

        .col-md-6
          #results.panel-group
            .panel.panel-primary
              .panel-heading
                h3.panel-title Totals
              .panel-body
                table#totals.table.table-striped.table-hover
                #totalsChart

            .panel.panel-info
              .panel-heading
                h3.panel-title Partials
              .panel-body
                #partials
